# Cal.com Video Consultation Integration
VITE_CAL_API_KEY=your_cal_api_key_here
VITE_CAL_LINK=your_cal_event_link

# Contentful Headless CMS Credentials
VITE_CONTENTFUL_SPACE_ID=your_space_id_here
VITE_CONTENTFUL_ACCESS_TOKEN=your_delivery_access_token_here
VITE_CONTENTFUL_ENVIRONMENT=master
